<h1>Edit a picture</h1>
<!-- <form action="/pictures/<%= @picture.id %>" method="POST"> -->
<%= form_for @picture do |f| %>

	<label>Artist</label>
	<!-- <p><input type="text" name="artist" value="<%= @picture.artist %>"></p> -->
	<p><%= f.text_field "artist" %></p>
	
	<label>Title</label>
	<!-- <p><input type="text" name="title" value="<%= @picture.title %>"></p> -->
	<p><%= f.text_field "title" %></p>

	<label>Image URL</label>
	<!-- <p><input type="text" name="url" value="<%= @picture.url %>"></p> -->
	<p><%= f.text_field "url" %></p>

	<p><%= f.submit "Destroy old information!" %></p>

<!-- </form> -->
<% end %>