<!-- <h1>Bitmaker Labs Pictures</h1> -->
	<hr>
<%- @pictures.each do |picture| %>
	<h2><%= picture.title %></h2>
	Artist: <%= picture.artist %>
	<p>
		<%= link_to picture_path(picture) do %>
		<img src="<%=picture.url%>">
		<% end %>
	</p>
	<% if picture.copyrighted %>
		<p>This picture is copyrighted.</p>
	<% end %>
	<p>
		<%= button_to "Edit Picture", edit_picture_path(picture), :method => :get %>
	</p>
	<hr>
<% end %>

