<!-- <h1>Bitmaker Labs Pictures</h1> -->
<hr>
<%- @pictures.each do |picture| %>
	<p>
			<h2><%= picture.title %></h2>
			<br>
			Artist: <%= picture.artist %>
			<p>
				<%= link_to picture_path(picture) do %>
				<img src="<%=picture.url%>">
				<% end %>
			</p>
		</a>
			<p>
				<%= button_to "Edit Picture", edit_picture_path(picture), :method => :get %>
			</p>
	</p>
	<hr>
<% end %>

