<p>
	<h1><%= @picture[:title] %></h1>
	Artist: <%= @picture[:artist] %>
</p>
<p>
<img src="<%= @picture[:url] %>"/>
</p>
<p>
	<a href="<%= pictures_path %>">Back to Pictures</a> | 
	<a href="<%= edit_picture_path(@picture) %>">Edit Picture</a> | 
	<!-- <a href="<%= (@picture) %>">Delete Picture</a> --> <!-- ???? -->
</p>